
@mixin font-mixin($font-name, $file-name, $weight, $style) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('../fonts/#{$file-name}.eot');
    src: url('../fonts/#{$file-name}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$file-name}.woff2') format('woff2'),
         url('../fonts/#{$file-name}.woff') format('woff'),
         url('../fonts/#{$file-name}.ttf') format('truetype'),
         url('../fonts/#{$file-name}.svg#oswaldbold') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}


@include font-mixin(Oswald, 'oswald-extralight', 200, normal);
@include font-mixin(Oswald, 'oswald-light', 300, normal);
@include font-mixin(Oswald, 'oswald-regular', 400, normal);
@include font-mixin(Oswald, 'oswald-medium', 500, normal);
@include font-mixin(Oswald, 'oswald-semibold', 600, normal);
@include font-mixin(Oswald, 'oswald-bold', 700, normal);