body, html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  color: #ffffff;
  font: 800 70px/1 'Montserrat', sans-serif;
  margin: 0;
}
.h1 {font: 800 70px/1 'Montserrat', sans-serif;}
.magenta {color: #a066c9;}

h2 {
  color: #0d113d;
  font: 600 33px/26px 'Montserrat', sans-serif;
  margin: 0;
}

h3 {
  color: #0d113d;
  font: 600 26px/1 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.padding-border {
  border-bottom: 3px solid #e0e0e0;
  padding: 70px 0;
}
.bordered {
  padding: 8px 0 8px 18px;
  position: relative;
}

.bordered:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #753d9d;
  border-radius: 1px;
}

.magenta-bg {
  background-color: #753d9d;
}

.flex-row, .flex-block {display: flex;}
.flex-row.align-center {align-items: center;}
.flex-row.justify-between {justify-content: space-between;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  color: #0d113d;
  font: 300 15px/26px 'Montserrat', sans-serif;
  margin: 0;
}
span {display: inline-block;}
a {
  color: #fff;
  transition: color ease-in-out 0.2s;
}


.my-btn {
  background-color: #753d9d;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font: 400 18px/1 'Montserrat', sans-serif;
  padding: 18px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 262px;
}

.my-btn.bordered-btn {
  background-color: transparent;
  border: 2px solid transparent;
}
.my-btn.white-bd {
  border-color: #ffffff;
}
.my-btn.magenta-bd {
  color: #0d113d;
  border-color: #0d113d;
}
