<footer class="footer-wrapepr">

  <div class="row">
    <div class="column small-12">
      <form action="">
        <div class="footer_form">
          <div class="row align-middle">
            <div class="small-12 medium-4 columns">
              <div class="footer_form_title">
                <h3>REGISTER FOR NEWLETTER</h3>
                <p>Get Latest Company News</p>
              </div>
            </div>
            <div class="small-12 presmall-7 medium-5 columns">
              <input type="text" placeholder="Enter Your Email Address" class="footer_form_email"/>
            </div>
            <div class="small-12 presmall-5 medium-3 columns flex-block align-right">
              <button type="submit" class="my-btn white-bd bordered-btn">SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="footer_nav row">
    <div class="small-12 large-6 columns">
      <a href="#" class="logo-holder"><img src="assets/img/logo-pic.png" alt="logo"/></a>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </div>
    <div class="small-6 medium-4 large-2 columns footer_nav-column">
      <ul class="footer_nav-list">
        <li><a href="#">HOME</a></li>
        <li class="active"><a href="#">ABOUT US</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">PORTFOLIO</a></li>
      </ul>
    </div>
    <div class="small-6 medium-4 large-2 columns footer_nav-column">
      <ul class="footer_nav-list">
        <li><a href="#">LEGAL NOTICE</a></li>
        <li><a href="#">CAREER</a></li>
        <li><a href="#">SUPPORT</a></li>
        <li><a href="#">SITEMAP</a></li>
      </ul>
    </div>
    <div class="small-6 medium-4 large-2 columns footer_nav-column">
      <ul class="footer_nav-list">
        <li><a href="#">TEAM</a></li>
        <li><a href="#">TESTIMONIAL</a></li>
        <li><a href="#">PRICE</a></li>
        <li><a href="#">BLOG</a></li>
      </ul>
    </div>
  </div>

  <div class="footer_social row align-middle align-justify">
    <div class="small-12 columns hr-holder">
      <div class="hr"></div>
    </div>
    <div class="column shrink copyright">
      <p>&copy; 2016 BLOM - All Rights Reserved</p>
    </div>
    <div class="column shrink">
      <ul class="inline-list footer_social-list">
        <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>